/* to hide first level of TOC */
.toc > ul {
    padding-left: 0;
}
.toc > ul > li {
    list-style: none;
}
.toc > ul > li > a {
    display: none;
}

/* to emphasize second level of TOC */
.toc > ul > li > ul > li > a {
    font-weight: var(--medium);
}
